
.container-fluid {
  @include breakpoint(small) {
    width: 80%;
  }
}

//**********************************
// Block - About
//**********************************
.about-block {
    position: relative;

    > .container {

    }

    .about-content{
        @include font(1.1em/1.5em $font-lato-regular);
        color: $color6;
        background: rgba(0,0,0,.5);
        bottom: 20px;
        max-width: 700px;
        padding: 10px;
        position: absolute;
        text-align: left;
        z-index: 700;
        @include breakpoint(small) {
            @include font(1.7em/1.5em $font-lato-thin);
            padding: 30px 40px;
        }

        strong {
            @include font-family($font-lato-regular);
            display: inline-block;
            font-weight: normal;
            @include breakpoint(small) {
                padding: 0 5px;
            }
        }

        &:before {
            content: '';
            width: 100%;
            height: 5px;
            display: inline-block;
            background: $color2;
            position: absolute;
            top: -6px;
            left: 0;
        }
    }
}

//**********************************
// Block - Graphic design
//**********************************
.graphic-block {
    background: $color6;
    padding-bottom: 100px;

    .container-fluid {
        @include breakpoint(small) {
            width: 80%;
        }
    }
}

//**********************************
// Block - Feature works
//**********************************
.feature-block {
    padding-bottom: 100px;
}

//**********************************
// Block - Profile
//**********************************
.profile-block {
    background: $bgcolor url("#{$img-path}bg-main.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    color: $color6;
    position: relative;
    min-height: 1000px;

    &:after {
        @include box-shadow(0, -1px, 6px, rgba(0,0,0,.5));
        @include size(100%, 1px);
        bottom: 0;
        content: '';
        position: absolute;
    }

    .flowers {
        @include size(558px, 890px);
        background: url("#{$img-path}flower.png") 0 0 no-repeat;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -600px;
    }

    .information-block {
        .desc {
            p {
                line-height: 1.6em;
                margin-bottom: 30px;
            }
        }
        @include breakpoint(medium) {
            .list-work {

            }
        }
    }

    .title {
        color: $color6;
    }
}

//**********************************
// Block - Get in touch
//**********************************
.contact-block{
    background: $color1;
    padding-bottom: 150px;

    .title {
        color: $color;
    }
}

//**********************************
// Small Blocks

.list-work {
  padding-left: 50px;
  border-top: 1px solid $color2;

  &.first {
      margin-top: 20px;
  }

  > ul > li {
    line-height: 2em;

    > i {
      @include font-size(.5);
      position: relative;
      top: -2px;
    }

    > ul > li {
      line-height: 2em;

      > i {
        @include font-size(.5);
        position: relative;
        top: -2px;
      }
    }
  }
}
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

.list-link {
  @include font(1em/1.2em $font-lato-thin);

  .icon {
    display: none;
  }

  #{$a-tags} {
    color: $color6;
  }
}

.in-detail {
  border-top: 1px solid $color2;
  padding-top: 65px;
  margin-top: 60px;
}

/* Back to Top button */
.to-top{
    @include box-shadow(0, 2px, 2px, rgba(0,0,0,.3), false);
    @include size(100%, 38px);
    background: $color1;
    margin-bottom: 30px;

    .to-top-toggle{
        @include size(106px, 46px);
        background: url("#{$img-path}bg-to-top.png") center center no-repeat;
        display: inline-block;
        text-align: center;

        i {
            @include animation(bounce1 2s infinite);
            @include size(27px, 19px);
            display: inline-block;
            background: url("#{$img-path}icon-to-top.png") center center no-repeat;
            margin-top: 23px;
            margin-left: 4px;
        }
    }
}

/* Social */
.social-toolbox{
    ul{
        > li{
            @include rotate(0deg);
            @include transition(all .5s linear);
            display: inline-block;
            padding: 0 1px;
            font-size: 0;

            &:hover {
                @include rotate(360deg);
            }

            a {
                @include transition(all .3s linear);
                color: $color6;
                font-size: 40px;
                text-decoration: none;

                &:hover {
                    color: $color6;
                }

                > span {
                    display: inline-block;
                    text-indent: -9999em;
                }
            }
        }
    }
}
#feedControl {
  margin-top : 10px;
  margin-left: auto;
  margin-right: auto;
  width : 440px;
  font-size: 12px;
  color: #9CADD0;
}
/* Slideshow */
.slideshow-wrap{
    &.slider-image {
        margin: 0 -15px 0 -15px;
        @include breakpoint(small) {
            width: 70%;
            margin-left: -50px;
        }

        .slick-slider {
            bottom: -28px;
            z-index: 1;
            margin-bottom: 0;
            @include breakpoint(small){
                bottom: 50px;
                margin-bottom: -100px;
            }

            .slick-list {
                padding: 27px;
            }

            .slick-slide {
                @include transition(opacity .2s linear);

                &.hidden-slide {
                    @include opacity(0);
                }

                .thumb {
                    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, .2));
                    border: 5px solid $color6;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;
                    }

                }
                &:nth-child(1n) .thumb {
                    @include rotate(10deg);
                }

                &:nth-child(2n) .thumb {
                    @include rotate(-10deg);
                }

                &:nth-child(3n) .thumb {
                    @include rotate(5deg);
                }

            }
        }
    }

    &.slider-banner {
        .slick-slider {
            margin: 0;
        }

        .slick-slide {
            min-height: 600px;
            @include breakpoint(small){
              max-height: 950px;
            };

            img {
                max-width: 300%;
                @include breakpoint(small){
                  max-width: 100%;
                }

            }
        }
    }
}



.grid-frontend,
.grid-design {
    display: block;
    margin: 30px auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    img{
        display: block;
        max-width: 100%;
    }

    .grid-sizer {
        width: (100/12) + %;
    }

    .grid-item {
        float: left;
        border: 5px solid transparent;
        height: 200px;
        padding: 0;
        overflow: hidden;
        display: none;
        @include breakpoint(small) {
            height: auto;
        }

        .thumb {
            position: relative;
            height: 100%;

            img {
                @include opacity(.2);
                @include scaleY(1);
                @include transition(all .6s ease-in-out);
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }

            .mask {
                @include size(100%, 100%);
                @include opacity(0);
                @include scale(.8);
                @include transition(all .4s ease-in-out .2s);
                background: rgba(255,255,255,0.8);
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                @include breakpoint(medium) {
                    padding: 15px;
                }

                .outer {
                    @include size(100%, 100%);
                    display: table;
                }

                .inner {
                    @include font-family($font-lato-regular);
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: $color;

                    a, a:hover, a:focus, a:visited {
                        color: $color;
                    }

                    a {
                        display: block;
                        margin-top: 15px;
                        text-transform: uppercase;
                        @include breakpoint(small) {
                            margin-top: 35px;
                        }
                    }

                    .tooltip-title {
                        @include font-size(1);
                        border: 1px solid $color;
                        display: inline-block;
                        padding: 10px;
                    }
                }

                .details {
                    @include font-size(0.9);
                    display: block;
                    margin-top: 8px;

                    .icon {
                        @include font-size(0.5);
                        display: inline-block;
                        margin-right: 10px;
                        margin-top: -2px;
                    }
                }
            }

            &:hover {
                .tooltip-content {
                    .outer {
                        border-width: 1px;
                    }
                }
            }
        }

        img {
            width: 100%;
        }

        &:hover {
            .thumb img {
                @include scale(1.5);
              -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
            }

            .mask {
                @include opacity(1);
                @include scale(1);
            }
        }
    }
}
