//**********************************
// Block - About
//**********************************
.about-block {
    position: relative;

    > .container {
        position: absolute;
        top: 30%;
        width: 100%;
        z-index: 700;
    }

    .about-content{
        @include font(1.1em/1.5em $font-lato-regular);
        color: $color6;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 15px;
        text-align: center;
        @include breakpoint(small) {
            padding-bottom: 22px;
            @include font(1.7em/1.8em $font-lato-regular);
        }
        strong {
            @include font-family($font-lato-bold);
            background: rgba(0,0,0,.7);
            display: inline-block;
            padding: 0 10px;
            margin: 0 7px 7px;
            font-weight: normal;
            text-transform: uppercase;
            @include breakpoint(small) {
                padding: 0 15px;
                margin: 0 10px 15px 10px;
            }
        }
    }
}

//**********************************
// Block - Graphic design
//**********************************
.graphic-block {
    background: $color6;
    padding-bottom: 100px;

    .container-fluid {
        @include breakpoint(small) {
            width: 80%;
        }
    }
}

//**********************************
// Block - Feature works
//**********************************
.feature-block {
    background: $color6;
    padding-bottom: 100px;

    .container-fluid {
        @include breakpoint(small) {
            width: 80%;
        }
    }
}

//**********************************
// Block - Profile
//**********************************
.profile-block {
    background: $bgcolor url("#{$img-path}bg-main.jpg") 0 0 repeat;;
    color: $color6;
    position: relative;

    &:after {
        @include box-shadow(0, -1px, 6px, rgba(0,0,0,.5));
        @include size(100%, 1px);
        bottom: 0;
        content: '';
        position: absolute;
    }

    .flowers {
        @include size(558px, 890px);
        background: url("#{$img-path}flower.png") 0 0 no-repeat;
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -600px;
    }

    .list-work {
        > ul > li {
            line-height: 2em;

            > i {
                @include font-size(.5);
                position: relative;
                top: -2px;
            }

            > ul > li {
                line-height: 2em;

                > i {
                    @include font-size(.5);
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    .information-block {
        .desc {
            p {
                line-height: 1.6em;
                margin-bottom: 30px;
            }
        }
        @include breakpoint(medium) {
            .list-work {
                margin-left: 100px;
            }
        }
    }

    .title {
        color: $color6;
    }
}

//**********************************
// Block - Get in touch
//**********************************
.contact-block{
    background: $color1;
    padding-bottom: 150px;
}

//**********************************
// Small Blocks

/* Back to Top button */
.to-top{
    @include box-shadow(0, 2px, 2px, rgba(0,0,0,.3), false);
    @include size(100%, 38px);
    background: $color1;
    margin-bottom: 30px;

    .to-top-toggle{
        @include size(106px, 46px);
        background: url("#{$img-path}bg-to-top.png") center center no-repeat;
        display: inline-block;
        text-align: center;

        i {
            @include animation(bounce1 2s infinite);
            @include size(27px, 19px);
            display: inline-block;
            background: url("#{$img-path}icon-to-top.png") center center no-repeat;
            margin-top: 23px;
            margin-left: 4px;
        }
    }
}

/* Social */
.social-toolbox{
    ul{
        text-align: center;

        > li{
            @include rotate(0deg);
            @include transition(all .5s linear);
            display: inline-block;
            padding: 0 5px;

            &:hover {
                @include rotate(360deg);
            }

            a {
                @include font-size(2, 1);
                @include transition(all .3s linear);
                color: $color6;
                text-decoration: none;

                &:hover {
                    color: $color6;
                }

                > span {
                    display: inline-block;
                    text-indent: -9999em;
                }
            }
        }
    }
}
#feedControl {
  margin-top : 10px;
  margin-left: auto;
  margin-right: auto;
  width : 440px;
  font-size: 12px;
  color: #9CADD0;
}
/* Slideshow */
.slideshow-wrap{
    &.slider-image {
        margin: 0 -15px 0 -15px;
        @include breakpoint(small) {
            width: 70%;
            margin-left: -50px;
        }

        .slick-slider {
            bottom: -28px;
            z-index: 1;
            margin-bottom: 0;
            @include breakpoint(small){
                bottom: 50px;
                margin-bottom: -100px;
            }

            .slick-list {
                padding: 27px;
            }

            .slick-slide {
                @include transition(opacity .2s linear);

                &.hidden-slide {
                    @include opacity(0);
                }

                .thumb {
                    @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, .2));
                    border: 5px solid $color6;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        width: 100%;
                    }

                }
                &:nth-child(1n) .thumb {
                    @include rotate(10deg);
                }

                &:nth-child(2n) .thumb {
                    @include rotate(-10deg);
                }

                &:nth-child(3n) .thumb {
                    @include rotate(5deg);
                }

            }
        }
    }

    &.slider-banner {
        .slick-slider {
            margin: 0;
        }

        .slick-slide {
            max-height: 835px;

            img {
                max-width: 100%;
                @include breakpoint(large){
                    margin-top: -240px;
                }

            }
        }
    }
}



.grid-frontend,
.grid-design {
    display: block;
    margin: 30px auto;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    img{
        display: block;
        max-width: 100%;
    }

    .grid-sizer {
        width: (100/12) + %;
    }

    .grid-item {
        float: left;
        border: 5px solid transparent;
        height: 200px;
        padding: 0;
        overflow: hidden;
        display: none;
        @include breakpoint(small) {
            height: auto;
        }

        .thumb {
            position: relative;
            height: 100%;

            img {
                @include scaleY(1);
                @include transition(all .6s ease-in-out);
            }

            .mask {
                @include size(100%, 100%);
                @include opacity(0);
                @include scale(.8);
                @include transition(all .4s ease-in-out .2s);
                background: rgba(255,255,255,0.8);
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                @include breakpoint(medium) {
                    padding: 15px;
                }

                .outer {
                    @include size(100%, 100%);
                    display: table;
                }

                .inner {
                    @include font-family($font-lato-regular);
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: $color;

                    a, a:hover, a:focus, a:visited {
                        color: $color;
                    }

                    a {
                        display: block;
                        margin-top: 15px;
                        text-transform: uppercase;
                        @include breakpoint(small) {
                            margin-top: 35px;
                        }
                    }

                    .tooltip-title {
                        @include font-size(1);
                        border: 1px solid $color;
                        display: inline-block;
                        padding: 10px;
                    }
                }

                .details {
                    @include font-size(0.9);
                    display: block;
                    margin-top: 8px;

                    .icon {
                        @include font-size(0.5);
                        display: inline-block;
                        margin-right: 10px;
                        margin-top: -2px;
                    }
                }
            }

            &:hover {
                .tooltip-content {
                    .outer {
                        border-width: 1px;
                    }
                }
            }
        }

        img {
            width: 100%;
        }

        &:hover {
            .thumb img {
                @include scale(1.5);
            }

            .mask {
                @include opacity(1);
                @include scale(1);
            }
        }
    }
}
