$icon-twitter: "\e900";
$icon-wordpress: "\e901";
$icon-flickr: "\e902";
$icon-spinner: "\e800";
$icon-heart: "\e801";
$icon-facebook: "\e807";
$icon-instagram: "\e806";
$icon-mail: "\e805";
$icon-youtube: "\e804";

[class^="icon-"], [class*=" icon-"] {
    font-family: $icomoon;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-wordpress {
  &:before {
    content: $icon-wordpress;
  }
}
.icon-flickr {
  &:before {
    content: $icon-flickr;
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
