$icon-beamed-note: "\e900";
$icon-code: "\e90c";
$icon-colours: "\e901";
$icon-feather: "\e903";
$icon-paper-plane: "\e905";
$icon-icon-twitter: "\e906";
$icon-icon-wordpress: "\e907";
$icon-icon-youtube: "\e908";
$icon-icon-mail: "\e909";
$icon-icon-instagram: "\e90a";
$icon-icon-facebook: "\e90b";
$icon-heart: "\e801";

[class^="icon-"], [class*=" icon-"] {
    font-family: $icomoon;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-beamed-note {
  &:before {
    content: $icon-beamed-note;
  }
}
.icon-code {
  &:before {
    content: $icon-code;
  }
}
.icon-colours {
  &:before {
    content: $icon-colours;
  }
}
.icon-feather {
  &:before {
    content: $icon-feather;
  }
}
.icon-paper-plane {
  &:before {
    content: $icon-paper-plane;
  }
}
.icon-icon-twitter {
  &:before {
    content: $icon-icon-twitter;
  }
}
.icon-icon-wordpress {
  &:before {
    content: $icon-icon-wordpress;
  }
}
.icon-icon-youtube {
  &:before {
    content: $icon-icon-youtube;
  }
}
.icon-icon-mail {
  &:before {
    content: $icon-icon-mail;
  }
}
.icon-icon-instagram {
  &:before {
    content: $icon-icon-instagram;
  }
}
.icon-icon-facebook {
  &:before {
    content: $icon-icon-facebook;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}

