footer#footer.footer
    .to-top
        a#to-top.to-top-toggle(href="javascript:void();", title="To top")
            i
    p &copy; 2015 My The Trinh.
    .in-detail
        p Crafted with
            i.icon.icon-heart
            | in
            a(href="#photoshop", title="Photoshop") Photoshop
            | &
            a(href="#illustrator", title="Illustrator") Illustrator
            | built with
            a(href="#HTML 5", title="HTML 5") HTML 5
            | ,
            a(href="#CSS3", title="CSS3") CSS3
            | and
            a(href="#jQuery", title="jQuery") jQuery
            |.
