#navigation.navigation
    .menus
        button.toggle.c-hamburger.c-hamburger--htx(type='button')
          span toggle menu

        nav.menu.navbar.navbar-default
            +nav([
                {title: 'About', href: '#about'
                  //, itemsMenu:
                  //[
                  //    {title: 'submenu', itemsMenu:
                  //        [
                  //            {title: 'submenu 2'}
                  //        ], subMenu: 'menu-level-3'
                  //    },
                  //    {title: 'submenu'}
                  //], subMenu: 'menu-level-2'
                },
                //{title: 'Graphic design', href: '#graphic'},
                {title: 'Feature works', href: '#feature'},
                {title: 'My profile', href: '#profile'},
                {title: 'Get in touch', href: '#contact'}
            ])(class="nav navbar-nav menu-level-1")


