script(src="js/l10n.js")
script(src="js/libs.js")
script(src="js/script.js")
script(src="js/bootstrap.js")
script(src="js/slick-carousel.js")
script(src="js/isotope.js")
//- Only use on development environment
script(src="localhost:35729/livereload.js")
