script(src="https://www.google.com/recaptcha/api.js")
script(src="js/l10n.js")
script(src="js/libs.js")
script(src="js/script.js")
script(src="js/bootstrap.js")
script(src="js/slick-carousel.js")
script(src="js/isotope.js")
script(src="http://maps.googleapis.com/maps/api/js")
