.social-toolbox
    +social([
    {title: 'Twitter', href: 'social.html', class: 'icon icon-twitter'},
//    {title: 'Facebook', href: 'social.html', class: 'icon icon-facebook'},
    {title: 'Mail', href: 'mailto:themy.trinh@gmail.com?subject=Big%20News&body=Body-goes-here', class: 'icon icon-mail'},
//    {title: 'Flickr', href: 'https://www.flickr.com/photos/trinhthemy', class: 'icon icon-flickr'},
    {title: 'Instagram', href: 'https://www.instagram.com/my19021987', class: 'icon icon-instagram'},
    {title: 'Wordpress', href: 'https://trinhthemy.wordpress.com', class: 'icon icon-wordpress'},
    ])
