.social-toolbox
    +nav([
    {title: 'Social', href: 'social.html', class: 'icon icon-twitter'},
    {title: 'Social', href: 'social.html', class: 'icon icon-facebook'},
    {title: 'Social', href: 'social.html', class: 'icon icon-mail'},
    {title: 'Social', href: 'social.html', class: 'icon icon-youtube'},
    {title: 'Social', href: 'social.html', class: 'icon icon-instagram'},
    {title: 'Social', href: 'social.html', class: 'icon icon-wordpress'},
    ])
