$icon-twitter: "\e900";
$icon-wordpress: "\e901";
$icon-flickr: "\e902";
$icon-spinner: "\e800";
$icon-heart: "\e801";
$icon-facebook: "\e807";
$icon-instagram: "\e806";
$icon-mail: "\e805";
$icon-youtube: "\e804";
