extends layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'template-layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Sprite',
    link: 'template-sprite.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'template-style-guide.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Homepage.psd',
    link: 'index.html',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Comment for task 1',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Comment for task 2',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Check',
    link: 'check.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Select',
    link: 'select.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Validator',
    link: 'validator.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
