include ../mixins/all
//Created by My.Trinh on 9/30/2015.
section#about.about-block
    .container
        .about-content
            | I love creating clean and impresive interfaces
            | I’ve done projects for variety of platforms
            | now
            strong  i’m available
            |  as
            strong  UI designer frontend developer
        .social-toolbox
            +nav([
                {title: 'Social', href: 'social.html', class: 'icon icon-twitter'},
                {title: 'Social', href: 'social.html', class: 'icon icon-facebook'},
                {title: 'Social', href: 'social.html', class: 'icon icon-mail'},
                {title: 'Social', href: 'social.html', class: 'icon icon-youtube'},
                {title: 'Social', href: 'social.html', class: 'icon icon-instagram'},
                {title: 'Social', href: 'social.html', class: 'icon icon-wordpress'},
            ])