include ../mixins/all
section#about.about-block
  .container-fluid
    .about-content

      | I love creating clean and impresive interfaces,
      | I’ve done projects for variety of platforms,
      br
      | now &nbsp;
      strong  i’m available
      br
      | AS &nbsp;
      strong UI DESIGNER & FRONTEND DEVELOPER
  .slideshow-wrap.slider-banner
    #sliderbanner.slider.responsive
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/13.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/02.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/03.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/04.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/05.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/06.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/07.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/08.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/09.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/10.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/11.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/12.jpg'}])
      +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/13.jpg'}])
    .clip-wrap.triangle-clip2
      svg(viewBox="0 0 100 50", preserveAspectRatio="none", width="100%", height="100%")
        polygon(points="0,0 50,50 0,50", fill="yellow")
    
    .clip-wrap.triangle-clip1
      svg(viewBox="0 0 100 50", preserveAspectRatio="none", width="100%", height="100%")
        polygon(points="100,0 100,50 0,50", fill="#000")


