include ../mixins/all
section#contact.contact-block
    .clip-wrap.triangle-clip7
      svg(viewBox="0 0 100 50", preserveAspectRatio="none", width="100%", height="100%")
        polygon(points="100,0 100,50 0,50", fill="#f0ff00")
    .container-fluid
        .contact-content
            h2.title get in touch
            form.row.form.contact-form.slideanimate(name="contact-form", action="/contact", method="POST", data-validate)

                .alert.alert-success.hidden
                    strong Thank you for your feedback!
                    a.close(href="#") ×

                .alert.alert-danger.hidden
                    strong There is an error while sending email. Please try later!
                    a.close(href="#") ×

                .col-xs-12.col-sm-6
                    address
                        p Address: 489 Huynh Van Banh, Ward 13, District Phu Nhuan, Ho Chi Minh City
                        p Number: [+84] 945 406 504
                        p Email: trinhthemy@hotmail.com
                    //.fb-like(data-href="https://developers.facebook.com/docs/plugins/", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true")

                .col-xs-12.col-sm-6
                    .row
                        .col-sm-6
                            +input-group('yourname', 'Your name')(required)
                        .col-sm-6
                            +input-group('yourmail', 'Your email', 'email')(required)
                        .col-sm-12
                            +input-group('yourmsg', 'Your message', 'textarea')(required)
                            span.pull-left
                                .g-recaptcha(data-sitekey="6LduaggTAAAAAMRhb602lU2wbZNr26Lyvj3OD0dw")

                            span.btn-primary.btn-style.pull-right
                                input.btn(type="submit", id="submit", name="submit", value="")
                                i.glyphicon.glyphicon-chevron-right
                                span.value Send
