include ../mixins/all
section#profile.profile-block
  .container-fluid
    //.flowers
    .profile-content
      h2.title my profile
      .inner
        .block.about-me
          span.circle
            i.icon.icon-heart
          .content
            h3.profile-title About me
            .desc Hello, my name is The My. I’m working as a web designer & front-end developer based in HCM City, Vietnam. For the last 5 years I’ve worked with clients to provide responsive web design, front-end development, and WordPress integrations.
        .block.the-passion
          span.circle
            .icon.icon-beamed-note
          .content
            h3.profile-title The passion
            .desc I embrace creativity in all aspects of life. When I am not pushing pixels, I enjoy cooking, painting, gardening, and playing the ukelele. I love to travel and I'm deeply inspired by the diversity of cultures and the natural beauty of the Earth.
        .block.ui
          span.circle
            .icon.icon-feather
          .content
            h3.profile-title User Interface
            .desc UI/UX design, Interaction & Website design & Branding / Logo
        .block.ux
          span.circle
            .icon.icon-code
          .content
            h3.profile-title User Experience
            .desc NodeJS / Grunt / Gulp
              br
              | HTML5
              br
              | CSS / SASS / LESS / STYLUS / Bootstrap
              br
              | Responsive Newsletter
              br
              | jQuery
              br
              | WordPress / Demandware
              br
              | GIT / SVN / Bitbucket / Sourcetree
        .block.hobbies
          span.circle
            .icon.icon-paper-plane
          .content
            h3.profile-title Hobbies
            .desc Travelling, taking photograph, discover new cultural around the world...

  .clip-wrap.triangle-clip4
    svg(viewBox="0 0 100 50", preserveAspectRatio="none", width="100%", height="100%")
      polygon(points="0,0 100,0 0,50", fill="#000")

  .clip-wrap.triangle-clip5
    svg(viewBox="0 0 100 50", preserveAspectRatio="none", width="100%", height="100%")
      polygon(points="100,0 100,50 0,50", fill="#fff")

  .clip-wrap.triangle-clip6
    svg(viewBox="0 0 100 50", preserveAspectRatio="none", width="100%", height="100%")
      polygon(points="100,0 100,40 50,25", fill="#f0f0f0")

