include ../mixins/all
section#profile.profile-block
    .container
        .flowers
        .profile-content
            h2.title my profile
            .row.information-block
                .col-sm-6
                    h3.title-s18 About me
                    .desc
                        p Hello, my name is The My. I’m working as a web designer & front-end developer based in HCM City, Vietnam.
                        p For the last 5 years I’ve worked with clients to provide responsive web design, front-end development, and WordPress integrations.
                        p I embrace creativity in all aspects of life. When I am not pushing pixels, I enjoy cooking, painting, gardening, and playing the ukelele. I love to travel and I'm deeply inspired by the diversity of cultures and the natural beauty of the Earth.
                .col-sm-6
                    .list-style-1.list-work
                        h3.title-s18 My workflow includes the use of:
                        +list([
                        {iconclass: 'heart', title: 'Design', class: 'title-s18', itemsMenu: [
                        {iconclass: 'spinner', title: 'User Interface Design'},
                        {iconclass: 'spinner', title: 'User Experience Design'},
                        {iconclass: 'spinner', title: 'Interaction Design'},
                        {iconclass: 'spinner', title: 'Website Design'},
                        {iconclass: 'spinner', title: 'Branding / Logo Design'}
                        ]},
                        {iconclass: 'heart', title: 'Frontend development', class: 'title-s18', itemsMenu: [
                        {iconclass: 'spinner', title: 'NodeJS / Grunt'},
                        {iconclass: 'spinner', title: 'HTML / Jade / Bootstrap'},
                        {iconclass: 'spinner', title: 'CSS / SASS / LESS / STYLUS'},
                        {iconclass: 'spinner', title: 'Responsive Newsletter'},
                        {iconclass: 'spinner', title: 'jQuery'},
                        {iconclass: 'spinner', title: 'WordPress / Demandware'},
                        ]}
                        ])

        .slideshow-wrap.slider-image
            #sliderimage.slider.responsive
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-1.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-2.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-3.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-4.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-5.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-6.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-7.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-8.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-9.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-10.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-11.jpg'}])
                +slick-slide([{title: 'item 1', href: 'javascript:void()', alt: 'Image 1', src: 'upload/image-12.jpg'}])